{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-top: 5vh;">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <p class="lead" style="text-align: justify;">
            Esse site tem como propósito apresentar informações diárias e acessíveis sobre
            a COVID-19 no Estado da Bahia, sem fins lucrativos. Os dados são oriundos da plataforma
            pública <a href="https://brasil.io/home/">brasil.io</a>, sendo estritamente proibido confiar neste site para orientação médica.
        </p><br>
        <h3 class="display-5">Colaboradores</h3>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-body text-center" style="background-color: #ecf0f1;">
                    <h5 class="card-title"><strong>Pedro Marcelino</strong></h5>
                    <p class="card-text">
                        Cientista de Dados
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </p>
                    <a href="https://www.linkedin.com/in/pedro-marcelino/" class="btn btn-primary">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/pedronovaes" class="btn btn-primary">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/opedromarcelino/" class="btn btn-primary">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-body text-center" style="background-color: #ecf0f1;">
                    <h5 class="card-title"><strong>Caroline Fernandes</strong></h5>
                    <p class="card-text">
                        Cientista de Dados
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </p>
                    <a href="https://www.linkedin.com/in/caroline-vasconcelos-fernandes-63b1ba141/" class="btn btn-primary">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/carolinevf" class="btn btn-primary">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/carolinevf/" class="btn btn-primary">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-body text-center" style="background-color: #ecf0f1;">
                    <h5 class="card-title"><strong>Mateus Barreto</strong></h5>
                    <p class="card-text">
                        Desenvolvedor Web
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                    </p>
                    <a href="https://www.linkedin.com/in/barretomateus/" class="btn btn-primary">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/barretomateus" class="btn btn-primary">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/mateusbarreto099/" class="btn btn-primary">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-body text-center" style="background-color: #ecf0f1;">
                    <h5 class="card-title"><strong>Felipe Amorim</strong></h5>
                    <p class="card-text">
                        Desenvolvedor Web
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                    </p>
                    <a href="https://www.linkedin.com/in/felipearabello/" class="btn btn-primary">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="btn btn-primary">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/felipearabello/" class="btn btn-primary">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-body text-center" style="background-color: #ecf0f1;">
                    <h5 class="card-title"><strong>Tiago Dória</strong></h5>
                    <p class="card-text">
                        Desenvolvedor Web
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                    </p>
                    <a href="https://www.linkedin.com/in/tiago-doria-paiva/" class="btn btn-primary">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/TiagoDoria" class="btn btn-primary">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/doriatiago/" class="btn btn-primary">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
